/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/

input {
    margin-top: 2px;
    width: 800px;
}



h1 {
    text-align: left;
    margin-bottom: 50px;
}

.category-btn {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    text-align: left;
}

.service-btn
{
    margin-left: 3%;
    margin-right: 3%;
    height: 65px;
    width: 300px;
    margin-top: 20px;
    text-align: left;
}

.page-btn
{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 30px;
}

.text,
input[type="checkbox"] {
    display: none;
    background-color: #ffffff;
    width: 350px;
}

input[type="checkbox"]:checked ~ .text {
    display: block;
    border: 5px outset green;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 4px 8px;
    padding-bottom: 20px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: large/110% "new century schoolbook", serif;
}

/* Стилизация псевдокнопки */
.pseudo-btn {
    display: inline-block;
    margin-bottom: 4px;
    padding: 4px 8px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    cursor: pointer;

}

.window-info {
    text-align: center;
    margin-left: 80%;
    border: 5px outset #1E90FF;
    border-radius: 10px;
    padding: 3px;
    width: 300px;
    font: italic 15px/30px Arial;
}

.form-div {
    padding: 80px;
    background: whitesmoke;
    border: 5px outset #1E90FF;
    border-radius: 10px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.check-btn {
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.image {
    width: 75px;
    height: 75px;
    margin-left: 30%;
    border: 5px outset orange;
    border-radius: 10px;
}

.form-div > h5 {
    text-align: center;
}

.print-btn {
    width: 200px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font: large/110% "new century schoolbook", serif;
}



